<h2 class="quite">Create a New League</h2>
<div align="left">
	<%= form_for @fantasy_league, :url => { :action => "create" } do |f| %>
	<fieldset>
		<div class="field">
			<%= f.label :name, :class => "field" %><br />
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :type %><br />
			<%= collection_select :fantasy_league, :league_type, @fantasy_league_types, :id, :description, :prompt => "Select a type of league" %>
			<% if flash[:error] %>
			<div class="error">
				<%= flash[:error] %>
			</div>
			<% end %>
		</div><br />
		<div class="field">
			<%= f.submit "Register League" %>
		</div>

	</fieldset>
	<% end %>
</div>

<!--<form action="/register_league" method="POST">
<fieldset>
Name: <input type="text" name="fantasy_league[name]" />
Type: <input type="text" name="fantasy_league[league_type]" />
<input type="submit" value="Register League" />
<% if flash[:error] %>
<p class="alert"><%= flash[:error] %></p>
<%end%>
</fieldset>
</form>-->
