<header>
	<div id="navbar">
		<ul>
			<li>
				<% if @title == 'home' %>
					<%= link_to 'Home', '#', :class => 'current' %>
				<% else %>
					<%= link_to 'Home', root_path %>
				<% end %>
			</li>
			<li>
				<% if @title == 'fantasy_leagues' %>
					<%= link_to 'My Leagues', '#', :class => 'current' %>
				<% else %>
					<%= link_to 'My Leagues', fantasy_league_path %>
				<% end %>
			</li>
			<li>
				<% if @title == 'fantasy_teams' %>
					<%= link_to 'My Teams', '#', :class => 'current' %>
				<% else %>
					<%= link_to 'My Teams', fantasy_manager_path %>
				<% end %>
			</li>
			<li>
				<% if @title == 'scores' %>
					<%= link_to 'Scores', '#', :class => 'current' %>
				<% else %>
					<%= link_to 'Scores', '#' %>
				<% end %>
			</li>
			<li>
				<% if @title == 'players' %>
					<%= link_to 'Players', '#', :class => 'current' %>
				<% else %>
					<%= link_to 'Players', player_path %>
				<% end %>
			</li>
			
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<% if signed_in? %>
				<li>
					<%= link_to 'Sign Out', 'signout' %>
				</li>
			<% end %>
		</ul>
	</div>

</header>