<header>
	<div id="navbar">
		<ul>
			<li>
				<%= link_to 'Home', root_path %>
			</li>
			<li>
				<%= link_to 'League', 'list'%>
			</li>
			<li>
				<%= link_to 'Managers', 'list_managers' %>
			</li>
			<li>
				<%= link_to 'My Team', '#' %>
			</li>
			<li>
				<%= link_to 'Players', '#' %>
			</li>
			
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<% if signed_in? %>
				<li>
					<%= link_to 'Sign Out', 'signout' %>
				</li>
			<% end %>
		</ul>
	</div>

</header>