<header>
	<div id="navbar">
		<ul>
			<li>
				<%= link_to 'Home', root_path %>
			</li>
			<li>
				<%= link_to 'League', 'list'%>
			</li>
			<li>
				<%= link_to 'My Team', '#' %>
			</li>
			<li>
				<%= link_to 'Players', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
			<li>
				<%= link_to 'Something', '#' %>
			</li>
		</ul>
	</div>
</header>