<!DOCTYPE html>
<html>
	<head>
		<title>FantasyFootball</title>
		<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
		<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
		<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="canvas">

		<div class="container">
			<!--		<div id="left_bar" class="column span-4">

			</div> -->
			<div id="main_content" class="column span-24 first last">
				<div id="header" class="column span-24">
					<%= render 'layouts/header' %>
				</div>
				<div id="page_body" class="column span-23 first last">
					<% if signed_in? || current_page?("/signup")  %>
						<%= yield %>
					<% else %>
						<%= render 'sessions/new'%>
					<% end %>
				</div>
				<div id="footer" class="column span-23 first last">
					<%= render 'layouts/footer' %>
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>
			<!--	<div id="right_bar" class="column span-4 last">

			</div> -->
		</div>

	</body>
</html>
